# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.3DFlappy.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Flappy3D\3DFlappy\.idea\.idea.3DFlappy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
